/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */
.stats-container {
  text-align: right;

  .col {
    $num-cols: 8;
    $stat-color: lighten($header-link-color, 15%);

    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    min-width: (40% / $num-cols);
    margin-bottom: 20px;
    margin-top: 12px;
    padding: 0 5px;

    &:last-child{
      margin-right: 50px;
    }

    .stat {
      text-align: center;
      cursor: pointer;
      overflow: hidden;
      color: $stat-color;

      &:hover {
        color: lighten($stat-color, 25%);
      }

      h1 {
        font-weight: 100;
        font-size: 24px;
        margin: 0 0 5px 0;
        padding: 2px 0;
        border-bottom: $thin-border-stroke $stat-color;
      }

      span {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        height: 20px;
        max-width: 100px;
        white-space: nowrap;
      }
    }
  }
}
